# Server configuration and setup

PORT=3000
NODE_ENV=development
LOG_LEVEL=info


# Database Configuration
DATABASE_URL=

# Arcjet
ARCJET_KEY=



# Required for Neon Local
NEON_API_KEY=
NEON_PROJECT_ID=
PARENT_BRANCH_ID=
DATABASE_NAME=neondb


# Neon Local Configuration
DELETE_BRANCH=true
